<style>
    .stream_content_entry {
        margin-bottom: 10px;
    }

    .troll_thumbnail {
        height: 25px;
        width: 25px;
    }

    .troll_thumbnail_li {
        float: left
    }
</style>
<h1><%= title %></h1>
<p>Welcome to <%= title %></p>
<div>
    <div style="float:left">
        <ul id="streams_list" style="list-style-type: none;background-color: lightGrey;margin-right: 15px;">
            <% for(var i=0;i
            <streams.length
            ;i++){ %>
            <li>
                <a class="stream_link" id="<%= streams[i]._id%>">
                    <% for(var t=0;t
                    <streams
                    [i].terms.length;t++){ %>
                    <%=streams[i].terms[t]%>,
                    <% } %>
                </a>
            </li>
            <% } %>
        </ul>
    </div>
    <div>
        <h3 id="stream_title"></h3>
        <ul id="stream_content" style="list-style-type: none;">
        </ul>
    </div>
</div>

<script>
    $(document).ready(function () {
        $(document).socketEventHandler({host:'<%=app.configSettings.baseUrl%>:<%=app.configSettings.socketPort%>/'})
        $(document).bind('addTweet', function (event, data) {
            if (data.msg) {
                if (typeof data.msg == 'string') {
                    data.msg = JSON.parse(data.msg)
                }
            }
            var content = '<b><i>-' + data.msg.user.screen_name + '</i></b>'
            var thumbNailList = ''
            if (data.msg.trollMeImages) {
                var images = data.msg.trollMeImages
                if (images.length > 0) {
                    for (var i = 0; i < images.length; i++) {
                        thumbNailList += '<li class="troll_thumbnail_li"><img class="troll_thumbnail" src="' + images[i].imageUrl + '"</img></li>'
                    }
                    thumbNailList='<ul>'+thumbNailList+'</ul>'
                    content += '<img src="' + images[0].imageUrl + '"</img>'+thumbNailList
                }
            }
            if($('#stream_content li').length>0){
                $('#stream_content').closest('ul').children(':first').before('<li />').append(content);
            }else{
                $('#stream_content').append(content)
            }



            //$("#stream_content").append('<li class="stream_content_entry">' + data.msg.text + '<br><b><i>-' + data.msg.user.screen_name + '</i></b></li>');
        })

    })

    $('.stream_link').click(function (ev) {
        $("#stream_content").empty();
        $('#stream_content').memeStreams('followStream', {streamId:this.id, options:{}});
        $('#stream_title').text('Viewing Stream : ' + $('#' + this.id).text())
    })


</script>